.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  h2 {
    margin: 10px 0;
  }

  span {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin: 10px 0 5px;
      font-size: 14px;
    }

    input {
      padding: 12px;
      font-size: 16px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
    }

    .buttons-container {
      display: flex;
      justify-content: space-between;

      button {
        padding: 10px 20px;
        font-size: 14px;
        border: none;
        cursor: pointer;

        &:first-child {
          background-color: #000;
          color: #fff;
        }

        &:last-child {
          background-color: #4285f4;
          color: #fff;
        }
      }
    }
  }
}
